@charset "utf-8";

body {
	font-family: "Karla", sans-serif;
	margin: 0;
	margin-top: -36px;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	width: 97%;
	max-width: 1100px;
}

h1 {
	padding: 16px 0;
	font-size: 53px;
    color: #391A19;
}

h2 {
	font-size: 53px;
	color: #A37443;
	text-align: center;
}

h3 {
	font-size: 38px;
	color: #A37443;
	text-align: center;
}

h4 {
	font-size: 24px;
	color: #A37443;
	text-align: center;
}

p {
	font-size: 24px;
	text-align: center;
}

ul {
	font-size: 24px;
}

.align-left {
	text-align: left;
}



/*Header*/

.header {
	background-color: #fbf3db;
	height: 100px;
}

.header img {
	float: left;
	padding-right: 10px;
}

/*Header*/



/*Nav Bar*/

.nav {
	background-color: #A37443;
	overflow: hidden;
}

.nav a {
  float: left;
  width: 20%;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
	background-color: #FBF3DB;
	color: #391A19;
}

.nav a.active {
	background-color: #391A19;
	color: #FFF;
}

/*Nav Bar*/



/*Footer*/

.footer {
	width: 100%;
	background-color: #A37443;
	color: white;
	text-align: center;
}

.footer p {
	font-size: 17px;
	margin: 0;
}

.footer a {
	padding-left: 5px;
	padding-right: 5px;
	color: white;
}

.footer hr {
	border-color: white;
}

/*Footer*/